.builder {
    width: 800px;
    float: left;
    overflow: auto;
}

.dropzone {
    width: 700px;
    min-height: 400px;
    background-color: #cecece;
    border: 1px solid #333333;
    margin: 0 auto;
}